<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>For Example</title>
</head>
<body>
    <div>
        <h1>for 循环</h1>
        <table>
            <tr th:each="user,iterStat : ${users}">
                <td th:text="${user.name}">zhuwutao</td>
                <td th:text="${user.age}">18</td>
                <td th:text="${user.pass}">77</td>
                <td th:text="${iterStat.index}">index</td>
            </tr>
        </table>
    </div>

</body>
</html>